* {
    margin: 0; padding: 0; box-sizing: border-box; font-family: sans-serif; 
    text-align: center;
}

body {
    background-color: rgb(42, 85, 224);
}

header {
    color: white;
    margin: 20px 0;
    font-size: 1.6rem;
}

main {
    background-color: #fff;
    max-width: 500px;
    margin: 25px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0.3rem 0.3rem 5px rgba(0, 0, 0, 0.3);
    font-size: 1.2rem;
}

main > div {
    padding: 15px 0;
}

.back {
    margin-bottom: 15px;
}

footer {
    color: white;
    font-weight: 600;
}