* {
    margin: 0; padding: 0; box-sizing: border-box; font-family: sans-serif;
}

body {
    background-color: #33A1FD;
}

header {
    color: white;
    margin: 20px 0;
    font-size: 1.8rem;
    text-align: center;
}

main {
    background-color: #fff;
    max-width: 500px;
    margin: 25px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0.3rem 0.3rem 5px rgba(0, 0, 0, 0.3);
    font-size: 1.2rem;
}

main > section {
    margin: 0 10px;
}

input[type=number] {
    margin-bottom: 12px;
    font-size: 18px;
    text-align: center;
}

input#start {width: 95px} input#end {width: 110px} input#steps {width: 80px}

input[type=submit] {
    width: 70px;
    font-size: 16px;
    padding: 2px;
    cursor: pointer;
    margin-bottom: 14px;
}

.back {
    margin-bottom: 15px;
    text-align: center;
}

footer {
    color: white;
    text-align: center;
    font-weight: 600;
}