<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Exercício 01</title>
        <link rel="stylesheet" href="./style.css"/>
    </head>
    <body>
        <header>
            <h1>Título</h1>
        </header>
        <main>
            <div>
                Lorem, ipsum.
            </div>
            <div>
                Lorem, ipsum dolor.
            </div>
        </main>
        <footer>
            <p>&copy; CursoemVideo | Curso de JavaScript</p>
        </footer>
    </body>
    <script src="./script.js"></script>
</html>