<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelo</title>
    <link rel="stylesheet" href="modelo.css">
</head>

<body>
    <header> <!-- cabeçalho -->
        <h1>Insira um título aqui</h1>

    </header>
    <section> <!-- bloco -->
        <div> Olá, mundo.</div>

    </section>
    <footer> <!-- rodapé -->
        <p>&copy; Todos os direitos reservados</p>

    </footer>
    <script src="modelo.js"></script>
</body>
</html>